{% extends 'layout/default.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Мы отправили вам электронное письмо. Если вы его не получили, пожалуйста, проверьте папку «Спам». В противном случае свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}</p>
{% endblock content %}
